{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{%  form_theme emailForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>Mot de passe oublié</h1>
    {{ form(emailForm) }}
{% endblock %}