{% extends 'base.html.twig' %}
{% block title %}Mon compte{% endblock %}
{% form_theme infosUserForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if app.user.infosUser.nom is not null and app.user.infosUser.prenom is not null %}
        <h1>Bonjour, {{ app.user.infosUser.nom | upper }} {{ app.user.infosUser.prenom }}</h1>
    {% elseif app.user.infosUser.pseudo is not null %}
        <h1>Bonjour, {{ app.user.infosUser.pseudo }}</h1>
    {% else %}
        <h1>Bonjour, {{ app.user.email }}</h1>
    {% endif %}


    <div>
        <div class="container">
            <div class="row">
                <div>
                    <h2>Jardin personel</h2>
                    <div>
                        <ul class="list-group ">
                            {% for plante in app.user.infosUser.garden | reverse %}
                                <a href="{{ path('page_infosCompte_plante', {'id': plante.id}) }}">
                                    <li class="text-center plante list-group-item">

                                        <img src="{{ vich_uploader_asset(plante.family, 'imageFile') }}" alt="">

                                        <br>
                                        <p>{{ plante.nom }}</p>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="btn btn-primary" href="{{ path('ajouter_plante') }}">Ajouter une plante !</a>
                    <a class="btn btn-primary" href="{{ path('supprimer_compte', {'id' : app.user.id }) }}">supprimer mon compte</a>
                </div>
            </div>
        </div>
    </div>




    {#    {{ dump(plante) }}#}

    <div class="section-form">
        {% if plante is not null %}
            <section class="select-plante">
                <h3>{{ plante.nom }}</h3>
                <img class="viniete" src="{{ vich_uploader_asset(plante, 'imageFile') }}" alt="">
                <br>
                <p>{{ plante.description }}</p>

                <a href="{{ path('updatePlante', {'id': plante.id }) }}">
                    <button class="btn btn-primary">Modifier</button>
                </a>
                <a class="btn btn-primary" href="{{ path('deletePlante', {'id': plante.id}) }}">Supprimer</a>
            </section>
        {% endif %}
        <div>
            <stong><p>Information personel : </p></stong>
            {{ form_start(infosUserForm) }}
            {{ form_widget(infosUserForm) }}
            <button type="submit" class="btn btn-info">Enregistré</button>
            {{ form_end(infosUserForm) }}
        </div>
    </div>
{% endblock %}
