@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;1,200&display=swap');
@media (max-width: 500px) {
    .image-profile{
        width: 75px;
        height: 75px;
        margin-right: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .profile {
        background-color: white;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 0px 5px 25px 0px #9c9c9c;
        margin-top: 0rem;
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    .plante{
        width: 9rem;
    }
    .presentation{
        padding-left: 1rem;
    }

}
@media(min-width: 500px) {
    .profile {
        background-color: white;
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0px 5px 25px 0px #9c9c9c;
        margin-top: 5rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 2.5rem;
    }
    .presentation p {
        width: 20rem;
    }
    .presentation{
        padding-left: 2rem;
    }
    .plante{
        width: 200px;
    }
}
*{
    font-family: 'Barlow Condensed', sans-serif;
}

main{
    background-color: white;
    width: inherit;
    padding-bottom: 5rem;
}
main section{
    margin-bottom: 15px;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f4ffc7;
}
/* block accueil présentation */


nav li{
    margin-right: 15px;
}
.block-presentation {
    margin-top: 2rem;
    background-image: url("../img/background-accueil.jpg");
    background-position: 0px, 0px;
    height: 25rem;

}
.c-white{
    color: white;
}


.title-accueil {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.title-accueil p:after {
    display: block;
    height: 2px;
    background-color: floralwhite;
    content: " ";
    width: 100%;
    margin: 0 auto;
}


.block-trie{
    padding: 15px;
}


/* block profile*/



.profil-garden {
    display: flex;
    flex-wrap: wrap;
}
.garden{
    display: flex;
    flex-wrap: wrap;
}

.garden-accueil ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.plante {
    width: 200px;
}


.image-profile{
    width: 150px;
    height: 150px;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
}
.infosUser{
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* page profile personel */

.garden-user ul{
    padding-left: 0px;
}

.garden-center{
    justify-content: center;
}

/* class bootstrap surcharger */
.list-group{
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;

}
/* class bootstrap surcharger */
.list-group-item {
    padding-left: 0;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.list-group-item:hover{
    background-color: #c9ffee;
}

.list-group-item-accueil {
    padding-left: 0;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;

}

div.section-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.section-form div{
    width: 22rem;
}

/* page admin */

.role-color-banni{
    color: red;
}

.vich-image a img{
    width: 400px;
}
.vich-image .form-group{
    display: none;
}
.vich-image a {
    display: none;
}
.viniete{
    width: 200px;
    height: 200px;
}

/*footer*/

.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}

