{% extends 'base.html.twig' %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
   {% endblock %}
{%  form_theme planteForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Ajouter une plante !</h1>

    {{ form_start(planteForm) }}
    {{ form_widget(planteForm) }}
    <button type="submit" class="btn btn-danger">Enregistrer</button>
    {{ form_end(planteForm) }}
{% endblock %}
