{% extends 'base.html.twig' %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
   {% endblock %}
{%  form_theme planteForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>modifier plante Plante !!</h1>

    {{ form_start(planteForm) }}
    {{ form_row(planteForm.nom) }}
    {{ form_row(planteForm.description, {'attr' : {'placeholder' : 'Description, guide de culture raconter comment vous l\'avez cultivez'}}) }}
    {{ form_row(planteForm.imageFile) }}
    {{ form_row(planteForm.family) }}
    <button type="submit" class="btn btn-danger">Enregistrer</button>
    {{ form_end(planteForm) }}
{% endblock %}
