{% extends 'base.html.twig' %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
   {% endblock %}
{% form_theme modifForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div>
    <stong><p>Modifier informations du compte : </p></stong>
    {{ form_start(modifForm) }}
    {{ form_widget(modifForm) }}
    <button type="submit" class="btn btn-info">Enregistré</button>
    {{ form_end(modifForm) }}
</div>

{% endblock %}
