{% extends 'base.html.twig' %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
   {% endblock %}
{% block body %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">email</th>
                <th scope="col">role</th>

            </tr>
            </thead>
            <tbody>
            {% for profil in profils %}
                <tr>
                    <th scope="row">{{ profil.identifiant.id }}</th>
                    <td>{{ profil.identifiant.email }}</td>

                    {% if 'ROLE_BANNI' in profil.identifiant.roles %}
                        <td>
                            <p class="role-color-banni">{{ profil.identifiant.roles | join(', ') }}</p>
                        </td>
                        <td><a href="{{ path('debannir_profile', {'id': profil.id}) }}"
                               class="btn btn-secondary">Debannir</a>
                        </td>
                        <td><a href="{{ path('profile_jardin', {'id': profil.id}) }}" class="btn btn-info">Voir
                                son
                                jardin</a></td>
                        <td>
                            <a class="btn btn-primary"
                               href="{{ path('supprimer_compte', {'id' : profil.identifiant.id }) }}">supprimer
                                compte</a>
                        </td>

                    {% else %}
                        <td>
                            <p>{{ profil.identifiant.roles | join(', ') }}</p>
                        </td>
                        <td><a href="{{ path('bannir_profile', {'id': profil.id}) }}" class="btn btn-danger">Bannir</a>
                        </td>
                        <td><a href="{{ path('profile_jardin', {'id': profil.id}) }}" class="btn btn-info">Voir son
                                jardin</a></td>

                        <td>
                            <a class="btn btn-primary"
                               href="{{ path('supprimer_compte', {'id' : profil.identifiant.id }) }}">supprimer
                                compte</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
