{% extends 'base.html.twig' %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
   {% endblock %}
{%  form_theme categorieForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
<p>Ajouter une catégorie</p>

    {{ form_start(categorieForm) }}
    {{ form_widget(categorieForm) }}
    <button class="btn btn-primary">Enregistré</button>
    {{ form_end(categorieForm) }}

{% endblock %}
