{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {#     section présentation du site #}
    <section class="block-presentation">
        <div class="presentation">
            <div class="title-accueil">
                <h1 class="c-white">Jardin de france</h1>
                <p class="c-white">Bienvenue sur mon site. Ce site est destiner aux jardinier.
                    Son but et tout d'abort culturel est basé sur l'échange.</p>
            </div>


            <p class="c-white">"Ici vous pouvez voir les jardin de différent utilisateurs à travers la france.
                Si vous étes jardinier ammateur vous pouvez ajouter les plantes que vous avez mis dans votre
                jardin."
            </p>
        </div>
    </section>
    {#     section profiles #}
    <main>
        <div class="block-trie">
            <h2 class="text-center">Nos jardin</h2>
            {{ form_start(form) }}
            {{ form_row(form.region, {'attr': {'placeholder': 'Trier par régions'}}) }}
            <button type="submit" class="btn btn-primary">Trier</button>
            {{ form_end(form) }}
        </div>


        {% for profil in profils | reverse %}
            {% if profil.garden | length > 0 %}
                <section class="profile">
                <div class="infosUser">
                    {% if profil.nom is empty and profil.prenom is empty %}
                        <img class="img-fluid image-profile" src="{{ asset('img/default-profile.png') }}"
                             alt="">

                        <div>
                            <p class="text-center">jardin créer le : {{ profil.createdAt | date('d-m-Y') }}</p>
                        </div>
                    {% else %}
                        <img class="image-profile" src="{{ asset('img/default-profile.png') }}" alt="">
                        <div>
                            <p class="text-center">Le jardin de : {{ profil.nom }} {{ profil.prenom }}</p>
                            <p class="text-center">jardin créer le : {{ profil.createdAt | date('d-m-Y') }}</p>
                            <p class="text-center">ce jardin ce situe en {{ profil.region }}</p>
                        </div>
                    {% endif %}
                </div>


                <div class="container">
                    <div class="row garden-center">
                        <div>
                            <p class="text-center">Les derniéres plantes ajoutés</p>
                            <ul class="list-group ">
                                {% for plante in profil.garden | slice(0, 4) | reverse %}
                                <li class="text-center plante list-group-item-accueil">
                                    <img src="{{ vich_uploader_asset(plante.family, 'imageFile') }}" alt="">
                                    <br>
                                    <p>{{ plante.nom }}</p>
                                    {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="text-center actions">
                    <a class="btn btn-primary" href="{{ path('profile_jardin', {'id': profil.id }) }}">Voir le
                        jardin</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-danger" href="{{ path('bannir_profile', {'id': profil.id }) }}">Bannir
                            compte</a>
                    {% endif %}

                </div>
            {% endif %}
            </section>
        {% endfor %}
    </main>
{% endblock %}
