{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <main>
        <section class="profile">
            <div class="infosUser">
                <img class="image-profile" src="{{ asset('img/default-profile.png') }}" alt="">
                {% if profil.nom is null and profil.prenom is null %}
                    <div>
                        <p>Le jardin de : {{ profil.identifiant.email }}</p>
                        <p>jardin créer le : {{ profil.createdAt | date('d-m-Y') }}</p>
                    </div>


                {% else %}
                    <div>
                        <h3>Le jardin de : {{ profil.nom }} {{ profil.prenom }}</h3>
                        <p>jardin créer le : {{ profil.createdAt | date('d-m-Y') }}</p>
                    </div>


                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}

                    <a class="btn btn-warning" href="{{ path('modif_profile', {'id': profil.id}) }}">voir infos</a>
                    <p>compte n°{{ profil.id }}</p>

                {% endif %}

            </div>
        </section>
        <div class="garden-user">
            <ul class="">

                {% for plante in profil.garden %}

                    <li class="text-center list-group-item">
                        <h3>{{ plante.nom }}</h3>
                        <img class="viniete" src="{{ vich_uploader_asset(plante, 'imageFile') }}" alt="">
                        <p class="text-center">
                            {{ plante.description }}
                        </p>
                        <p>
                            Date d'ajout :<br>
                            {{ plante.createAt | date('d-m-Y') }}
                        </p>

                        {% if is_granted('ROLE_ADMIN') %}

                            <a href="{{ path('updatePlante', {'id': plante.id }) }}"
                               class="btn btn-warning">Modifier</a>

                        {% endif %}

                    </li>

                {% endfor %}

            </ul>
        </div>
    </main>

{% endblock %}

