<p>Bonjour,</p>
<p>une demande de réinitialisation de mot de passe a été effectuée pour le site French-Garden.fr. Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe : </p>
<a href="{{ url }}">{{ url }}</a>
